@model IEnumerable<Group12_iCAREAPP.Models.PatientRecord>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/WorkerLayout.cshtml";
}


@* <h2>Index</h2> *@


<div class="text-center" style="margin-bottom:20px">
    <h2>iCAREBoard</h2>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            @using (Html.BeginForm("Index", "PatientRecords", FormMethod.Get, new { @class = "text-center" }))
            {
                <div class="form-group" style="margin-top: 50px;">
                    @Html.DropDownList("GeoUnitID", (SelectList)ViewBag.geoUnitIDSorted, "All Locations", new { @class = "form-control mb-2 mr-sm-2" })
                    <input type="submit" name="action" value="Filter" class="btn btn-outline-dark btn mb-2" />
                </div>
            }
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
    @Html.DisplayNameFor(model => model.name)
</th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.treatmentArea)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.GeoCodes.description)*@
            Geo Unit
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.iCAREWorker.profession) *@
            Maintaining WorkerID
        </th>
        <th>Doctor Assigned</th>
        <th>Nurse Count</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        // Use inline code to determine doctor assignment and nurse count
        var doctorAssigned = item.TreatmentRecord.Any(t => t.iCAREWorker.roleID == "1");
        var nurseCount = item.TreatmentRecord.Count(t => t.iCAREWorker.roleID == "2");

        <tr>
            <td>@Html.DisplayFor(modelItem => item.name)</td>
            <td>@Html.DisplayFor(modelItem => item.address)</td>
            <td>@Html.DisplayFor(modelItem => item.dateOfBirth)</td>
            <td>@Html.DisplayFor(modelItem => item.height)</td>
            <td>@Html.DisplayFor(modelItem => item.weight)</td>
            <td>@Html.DisplayFor(modelItem => item.bloodGroup)</td>
            <td>@Html.DisplayFor(modelItem => item.bedID)</td>
            <td>@Html.DisplayFor(modelItem => item.treatmentArea)</td>
            <td>@Html.DisplayFor(modelItem => item.GeoCodes.description)</td>
            <td>@Html.DisplayFor(modelItem => item.iCAREWorker.ID)</td>
            <td>@(doctorAssigned ? "Yes" : "N/A")</td>
            <td>@nurseCount</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                @Html.ActionLink("Assign", "AssignWorkerToPatient", new { patientID = item.ID })
            </td>
            @*<td>
                    <button onclick="assignWorker(@item.ID)">Assign</button>

                </td>*@
        </tr>
    }

</table>

@*
<script>
    function assignWorker(patientID) {
        $.post('@Url.Action("AssignWorkerToPatient", "PatientRecords")', { patientID: patientID })
            .done(function(response) {
                alert("Patient added successfully");
            })
            .fail(function() {
                alert("Error assigning worker.");
            });
    }
</script> *@

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var message = "@TempData["Message"]";
        if (message) {
            alert(message);
        }
    });
</script>